.main-bg{
    background-image: url('../img/main-bg.svg');
    background-position: center;
    background-size: cover;
    color: var(--white-color)
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
     /*1200 pixel da largura do site*/
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
     /*altura minima da seção 920px ou 100vh*/
}

.menu-spacing{
    height: 65px;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}


